<!-- <input type="text" (input)="handleInput($event)"> -->
 <!-- doing two way binding with ngModel -->
 <input type="text" [(ngModel)]="myName">
<h4>this is the example of Two way binding :- {{myName}}</h4>
<button *ngIf="showButton" (click)="showtypes()">Types of Directives</button><br>
<button *ngIf="showHideButton" (click)="hideTypes()">Hide</button>
<div *ngIf="showTypes">
   <ul>
      <li>
        <h1>Components</h1>
        <p>Used with Templates</p>
      </li>
      <li>
        <h1>Attribute Directives</h1>
        <p>Changes the appearance and behavior of the Element, Components, and other Directives</p>
      </li>
      <li>
        <h1>Structural Directives</h1>
        <p>Dom Manipulation</p>
      </li>
   </ul>
</div>
<button (click)="isShowing = !isShowing">
   <span *ngIf="isShowing">Hide books</span>
   <span *ngIf="!isShowing">show books</span>
</button>
<div *ngIf="isShowing">
<h2>These are the Programming books!</h2>
<img src="{{clean_code_url}}" alt="{{bookName}}" width="100">
<ul>
<li>
   Book Name :-  <h3>{{bookName}}</h3>
</li>
<li>
   Author Name :-  <h3>{{authorName}}</h3>
</li>
</ul>
<img src="{{clean_code_url2}}" alt="{{bookName}}" width="100">
<ul>
<li>
   Book Name :-  <h3>{{bookName2}}</h3>
</li>
<li>
   Author Name :-  <h3>{{authorName2}}</h3>
</li>
</ul>
</div>

